:root{
    --primary:#3F72AF;
    --accent:#ffcc00;
    --secondary:#DBE2EF;
    --background:#F9F7F7;
    --dark-primary:#50577A;
    --dark-accent:#6B728E;
    --dark-secondary:#474E68;
    --dark-background:#404258;
}