:root{
    --primary:#9BA4B5;
    --accent:#ffcc00;
    --secondary:#212A3E;
    --background:#F1F6F9;
    --dark-primary:#50577A;
    --dark-accent:#6B728E;
    --dark-secondary:#474E68;
    --dark-background:#404258;
}