.log/*
*.log
seme.log
error_log
.DS_Store
*DS_Store*
.scannerwork/*
.sonarlint/
vendor/*
.phpdoc/*
build/*
docs/*
*.phpdoc
*.phpdoc/*
.phpdoc
dev/logs/*
clover.xml
junit.xml
app/cache/
*.db
media/upload/*
media/pengguna/*
media/laporan/*
media/apd/*
media/monev/*
media/hygiene/*
media/surveilan/*